* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1em;
    background-color: #f5f5f5;
    color: #333;
    font-family: "Lato", sans-serif;
}

.cabecera img {
    width: 100%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

nav a {
    font-size: 1.5em;
}

nav {
    background-color: lightgray;
    position: static;
}

nav .logo img {
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
}

nav.menu {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    background-color: lightblue;
    padding: 20px 60px;
}

nav a:hover {
    background-color: deepskyblue;
    color: white;
}